# Xcode
#
# Build generated
build/
DerivedData/
*.pbxuser
!*.pbxuser/
*.mode1v3
!*.mode1v3/
*.mode2v3
!*.mode2v3/
*.perspectivev3
!*.perspectivev3/
*.xcworkspace/contents.xcworkspacedata
xcuserdata/

# Package manager
*.moved-aside
*.pcmap

# Obj-C/Swift specific
*.hmap
*.swiftsourceinfo

# CocoaPods
#
# We recommend ignoring CocoaPods entirely except for the Podfile and Podfile.lock. However, if you do choose to commit the Pods directory, make sure to ignore the following:
#
Pods/
!Podfile
!Podfile.lock

# Carthage
#
# For Carthage builds, you should generally ignore the entire Carthage directory:
Carthage/Build

# fastlane
#
# For fastlane, you should generally ignore the fastlane/report.xml and fastlane/Preview.html
fastlane/report.xml
fastlane/Preview.html

# App Distribution
#
# For App Distribution, you should generally ignore the ipa files.
*.ipa

# App Store Connect
#
# For App Store Connect, you should generally ignore the .itmsp files.
*.itmsp

# Other files
#
# Don't commit backup files.
*.bak
*.swp
*.DS_Store